[Unit]
Description=Change the wallpaper

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/home/qwerty/scripts/wallpaper_changer 

[Install]
WantedBy=multi-user.target
