*.session
*.session-journal
*.dict
.nvimlog
__pycache__
home/filezilla/.config/filezilla/lockfile
home/filezilla/.config/filezilla/queue.sqlite3
home/powercord/.local/share/powercord/settings/pc-updater.json

home/filezilla/.config/filezilla/filezilla.xml
home/filezilla/.config/filezilla/layout.xml
home/filezilla/.config/filezilla/sitemanager.xml
home/nvim/.config/nvim/plugged/YouCompleteMe
home/nvim/.config/nvim/plugged/lightline.vim
home/nvim/.config/nvim/plugged/nerdcommenter
home/nvim/.config/nvim/plugged/nerdtree
home/nvim/.config/nvim/plugged/vim-lastplace
home/nvim/.config/nvim/plugged
home/tmux/.config/tmux/.github/funding.yml
