[submodule "home/powercord/.local/share/powercord/src/Powercord/plugins/who-reacted"]
	path = home/powercord/.local/share/powercord/src/Powercord/plugins/who-reacted
	url = git@github.com:jaimeadf/who-reacted.git
[submodule "home/powercord/.local/share/powercord/src/Powercord/plugins/total-members"]
	path = home/powercord/.local/share/powercord/src/Powercord/plugins/total-members
	url = git@github.com:cyyynthia/total-members.git
[submodule "home/powercord/.local/share/powercord/src/Powercord/plugins/smart-typers"]
	path = home/powercord/.local/share/powercord/src/Powercord/plugins/smart-typers
	url = git@github.com:GriefMoDz/smart-typers.git
[submodule "home/powercord/.local/share/powercord/src/Powercord/plugins/quickChatReply"]
	path = home/powercord/.local/share/powercord/src/Powercord/plugins/quickChatReply
	url = git@github.com:notKnei/quickChatReply.git
[submodule "home/powercord/.local/share/powercord/src/Powercord/plugins/powercord-pindms"]
	path = home/powercord/.local/share/powercord/src/Powercord/plugins/powercord-pindms
	url = git@github.com:Bricklou/powercord-pindms.git
[submodule "home/powercord/.local/share/powercord/src/Powercord/plugins/unindent"]
	path = home/powercord/.local/share/powercord/src/Powercord/plugins/unindent
	url = git@github.com:VenPlugs/Unindent.git
[submodule "home/powercord/.local/share/powercord/src/Powercord/plugins/powercord-stafftags"]
	path = home/powercord/.local/share/powercord/src/Powercord/plugins/powercord-stafftags
	url = git@github.com:Puyodead1/powercord-stafftags.git
[submodule "home/powercord/.local/share/powercord/src/Powercord/plugins/better-replies"]
	path = home/powercord/.local/share/powercord/src/Powercord/plugins/better-replies
	url = git@github.com:cyyynthia/better-replies.git
[submodule "home/powercord/.local/share/powercord/src/Powercord/plugins/powercord-toneindicators"]
	path = home/powercord/.local/share/powercord/src/Powercord/plugins/powercord-toneindicators
	url = git@github.com:Lisenaaaa/powercord-toneindicators.git
[submodule "home/powercord/.local/share/powercord/src/Powercord/plugins/powercord-plugin-downloader"]
	path = home/powercord/.local/share/powercord/src/Powercord/plugins/powercord-plugin-downloader
	url = git@github.com:LandenStephenss/PowercordPluginDownloader.git
[submodule "home/powercord/.local/share/powercord/src/Powercord/plugins/do-not-slowmode-me"]
	path = home/powercord/.local/share/powercord/src/Powercord/plugins/do-not-slowmode-me
	url = git@github.com:SammCheese/Do-Not-Slowmode-Me.git
[submodule "home/powercord/.local/share/powercord/src/Powercord/plugins/powercord-blocked-user-remover"]
	path = home/powercord/.local/share/powercord/src/Powercord/plugins/powercord-blocked-user-remover
	url = git@github.com:vdsk/Powercord-Blocked-User-Remover.git
