*.session
*.session-journal
*.dict
.nvimlog
__pycache__
home/filezilla/.config/filezilla/lockfile
home/filezilla/.config/filezilla/queue.sqlite3
home/powercord/.local/share/powercord/settings/pc-updater.json
