[submodule "home/powercord/.local/share/powercord/src/Powercord/plugins/who-reacted"]
	path = home/powercord/.local/share/powercord/src/Powercord/plugins/who-reacted
	url = git@github.com:jaimeadf/who-reacted.git
[submodule "home/powercord/.local/share/powercord/src/Powercord/plugins/total-members"]
	path = home/powercord/.local/share/powercord/src/Powercord/plugins/total-members
	url = git@github.com:cyyynthia/total-members.git
[submodule "home/powercord/.local/share/powercord/src/Powercord/plugins/Powercord-Blocked-User-Remover"]
	path = home/powercord/.local/share/powercord/src/Powercord/plugins/Powercord-Blocked-User-Remover
	url = git@github.com:fuzzydragon/Powercord-Blocked-User-Remover.git
