[Desktop Entry]
Version=1.0
Name=xranger
GenericName=File Manager
Comment=Launches ranger
Exec=/usr/bin/termite -e ranger %F
Icon=utilities-terminal
Terminal=false
X-MultipleArgs=false
Type=Application
MimeType=inode/directory;
StartupNotify=true
Categories=System;FileTools;FileManager
