[Unit]
Description=monitor-on-shutdown

[Service]
Type=oneshot
RemainAfterExit=true
ExecStop=sh /home/qwerty/scripts/monitors-off.sh

[Install]
WantedBy=multi-user.target

